# Job recomendation system

In [1]:
# importing the necessary Python libraries
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
import matplotlib.pyplot as plt
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
import nltk
import re
from nltk.corpus import stopwords
import string
import seaborn as sns

In [2]:
# Loading dataset
data = pd.read_csv("jobs.csv")
data.head()

,Unnamed: 0,Job Salary,Job Experience Required,Key Skills,Role Category,Functional Area,Industry,Job Title
0,0,Not Disclosed by Recruiter,5 - 10 yrs,Media Planning| Digital Media,Advertising,"Marketing , Advertising , MR , PR , Media Plan...","Advertising, PR, MR, Event Management",Media Planning Executive/Manager
1,1,Not Disclosed by Recruiter,2 - 5 yrs,pre sales| closing| software knowledge| clien...,Retail Sales,"Sales , Retail , Business Development","IT-Software, Software Services",Sales Executive/Officer
2,2,Not Disclosed by Recruiter,0 - 1 yrs,Computer science| Fabrication| Quality check|...,R&D,"Engineering Design , R&D","Recruitment, Staffing",R&D Executive
3,3,"2,00,000 - 4,00,000 PA.",0 - 5 yrs,Technical Support,Admin/Maintenance/Security/Datawarehousing,"IT Software - Application Programming , Mainte...","IT-Software, Software Services",Technical Support Engineer
4,4,Not Disclosed by Recruiter,2 - 5 yrs,manual testing| test engineering| test cases|...,Programming & Design,IT Software - QA & Testing,"IT-Software, Software Services",Testing Engineer

In [3]:
# checking all the columns in the dataset
data.columns

Index(['Unnamed: 0', 'Job Salary', 'Job Experience Required', 'Key Skills',
       'Role Category', 'Functional Area', 'Industry', 'Job Title'],
      dtype='object')

In [4]:
data.shape

(27010, 8)

In [5]:
# dropping unnamed column
data = data.drop("Unnamed: 0",axis=1)

In [6]:
# checking if any column has any Null value
data.isnull().sum()

Job Salary                 0
Job Experience Required    0
Key Skills                 0
Role Category              0
Functional Area            0
Industry                   0
Job Title                  0
dtype: int64

The Key Skills column in the dataset contains the skills required for the job role.

We can use the Key Skills column to recommend jobs to the users.

In [8]:
from sklearn.feature_extraction import text
feature = data["Key Skills"]
tfidf = text.TfidfVectorizer( stop_words="english")
tfidf_matrix = tfidf.fit_transform(feature)
similarity = cosine_similarity(tfidf_matrix)

In [9]:
#will set the Job title column as the index of the dataset so that the users can find similar jobs according to the job
indices = pd.Series(data.index, index=data['Job Title']).drop_duplicates()

In [10]:
# function to recommend top 5 jobs
def jobs_recommendation(Title, similarity = similarity):
    index = indices[Title]
    similarity_scores = list(enumerate(similarity[index]))
    similarity_scores = sorted(similarity_scores, key=lambda x: x[::], reverse=True)
    similarity_scores = similarity_scores[0:5]
    newsindices = [i[0] for i in similarity_scores]
    return data[['Job Title', 'Job Experience Required',
                 'Key Skills']].iloc[newsindices]

print(jobs_recommendation("Software Developer"))

                                       Job Title Job Experience Required  \
6249          Sales/Business Development Manager               4 - 5 yrs
6248                          Software Developer               2 - 5 yrs
6247  Associate/Senior Associate -(NonTechnical)              5 - 10 yrs
6246                          Software Developer               1 - 6 yrs
6245  Associate/Senior Associate -(NonTechnical)               1 - 4 yrs

                                             Key Skills
6249   Networking| Printing| Aerospace| Raw material...
6248   PHP| MVC| Laravel| AWS| SDLC| Wordpress| LAMP...
6247   Data analysis| Investment banking| Financial ...
6246   Coding| Wordpress| Commerce| HTML| Troublesho...
6245   client servicing| client support| background ...